:root {
  --font-family: "Urbanist", sans-serif;
  --second-family: "Righteous", sans-serif;
  --third-family: "Inter", sans-serif;
}
.container {
  width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
img,
video {
  max-width: 100%;
  height: auto;
}
